.image-container {
    position: relative;
    z-index: 2; /* Задаем высокий z-index, чтобы поместить контейнер перед изображением */
    color: white; /* Устанавливаем белый цвет текста */
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* Задаем низкий z-index, чтобы изображение было под контейнером с текстом */
    /* Дополнительные стили для изображения, если необходимо */
}
